<h1>
  id = <%= @task.id %> のタスク詳細
</h1>

<table class = "table table-bordered">
  <tr>
    <th>id</th>
    <td>
      <%= @task.id %>
    </td>
  </tr>
  <tr>
    <th>task</th>
    <td>
      <%= @task.content %>
    </td>
  </tr>
  <tr>
    <th>status</th>
    <td>
      <%= @task.status %>
    </td>
  </tr>
</table>


<% if false %>
<p>
  タスク: <%= @task.content %>
</p>

<p>
  ステータス: <%= @task.status %>
</p>
<% end %>



<%if false %>
<%= link_to "一覧に戻る", tasks_path %>
<% end %>


<%= link_to "このタスクを編集する", edit_task_path(@task), class: "btn btn-default" %>

<%= link_to "このタスクを削除する", @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger" %>





